<div>
    <p>
        Hier siehst du, <strong>wie viele Tags</strong> du insgesamt erstellt hast (hier beispielhaft: 14).
        Die Anzeige wird immer aktuell gehalten und dient als Grundlage für den <strong>Highscore</strong>.
        Dieser wird am Ende des Spiels angezeigt und zeigt, welcher Spieler wie viel Wörter erstellt hat.
    </p>

    <p>
        Gebe hier bitte die Wörter ein, die du dir überlegt hast, als das Bild sichtbar war und bestätige mit einem
        Klick auf <em>Bestätigen</em>.
    </p>
</div>