<div>
    <p>
        <strong>Super!</strong> Du hast den Testlauf erfolgreich abgeschlossen.
    </p>
    <p>
        Für die folgenden 15 Bilder trittst du nun gegen zwei weitere Spieler an.
        Klicke auf <em>Suchen</em> um die Suche nach Mitspielern zu starten.
    </p>

    <div id="points_review_210_lobby_loader" class="invisible">
        <div class="loader center"></div>
        <p>
            Es wird nach Mitspielern <span
                class="typing_animated">gesucht<span>.</span><span>.</span><span>.</span></span>
        </p>
    </div>
</div>