<div>
    <p>
        Du hast deine Eingabe bestätigt und kannst nun keine Tags mehr für das aktuelle Bild hinzufügen.
    </p>

    <p>
        Unter der durchschnittlichen Anzahl an Stichwörtern findest du ein kleines <strong>Ranking</strong>.
        Hier sind neben dir die letzten 4 Spieler aufgelistet.
        Bei den dargestellten Punkten handelt es sich um die Gesamtanzahl an erstellten Stichwörtern über alle 15
        Bilder.
    </p>

    <p>
        Unter dem Ranking findest du Aussagen darüber, wie <strong>viele Stichwörter</strong> erstellt wurden sind und
        wie viele Spieler die <strong>gleichen Wörter</strong> wie du erstellt haben.
        Zusätzlich möchten wir dich bitten, die 3 dargestellten Stichwörter anderer Spieler zu überprüfen und zu
        <strong>"liken"</strong>, sofern du sie für passend hältst.
        Es handelt sich dabei um Stichproben anderer Teilnehmer.
    </p>

</div>