<div>
    <p>
        Auf der rechten Seite siehst du deine <strong>aktuelle Punktzahl</strong> und eine <strong>Bestenliste</strong>.
        Für diese Einführung haben wir dir beispielhaft <em>1200 Punkte</em> gegeben.
    </p>
    <p>
        Je mehr Stichworte du eingibst, desto mehr Punkte bekommst du (hier: <em>'Du (Bsp.)'</em>) und desto weiter links
        erscheinst du in der Bestenliste.
        Für jedes eingegeben Stichwort erhältst du <strong>100 Punkte</strong>.
    </p>
    <p>
        So erfährst du, wie viel du zur Studie beigetragen hast und kannst deinen Punktestand mit dem von anderen
        Teilnehmern vergleichen.
        Wenn du möchtest, kannst du am Ende der Studie einen Nickname eingeben.
    </p>
</div>