<div>
    <p>
        Ziel des Spiels ist es, <strong>mehr passende Stichwörter pro Bild</strong> zu erstellen, als dein Gegenspieler.
    </p>
    <p>
        Am Ende des Spiels gewinnt der Spieler mit den <strong>meisten gewonnenen Runden</strong> (=Bilder).
        Der Gewinner steigt ein <strong>Level auf</strong>, der Verlierer ein <strong>Level ab</strong>.
        Dein aktuelles Level wird dir stets angezeigt.
        Darunter siehst du eine <strong>Bestenliste</strong>, die anzeigt, wie viele Runden du im Vergleich zu anderen
        Spielern gewonnen hast.
        Diese Bestenliste dient dir als Orientierung und ist erst wieder am Ende des Spiels sichtbar.
    </p>
    <p>
        Bitte gebe hier die 3 Beispielstimmungen ein, die unter dem Bild vorgeschlagen werden.
        Diese reichen aus, um die Einführung zu gewinnen.
    </p>
</div>