<div>

    <p>
        <strong>Super!</strong> Du hast den Testlauf erfolgreich abgeschlossen.
    </p>
    <p>
        Für die folgenden 15 Bilder spielst du nun gegen einen anderen Spieler.
        Wie schon beschrieben gewinnt derjenige eine Runde, der zuerst 4 von den von uns vorgegebenen Tags erreicht hat.
    </p>
    <p>
        Klicke auf <em>Suchen</em> um die Suche nach einem Gegnspieler zu starten.
    </p>

    <div id="id_test_12_loader" class="invisible">
        <div class="loader center"></div>
        <p>
            Es wird nach Mitspielern <span
                class="typing_animated">gesucht<span>.</span><span>.</span><span>.</span></span>
        </p>
    </div>
</div>