<div>
    <p>
        Hier siehst du deine <strong>aktuelle Punktzahl</strong>.
        Pro erstelltem Stichwort bekommst du Punkte, wobei das von anderen Spielern am meisten genutzte Stichwort 100
        Punkte gibt.
        Wörter, die weniger genutzt wurden geben entsprechend ihrer Häufigkeit weniger Punkte.
        Dieser Punktestand bildet die Grundlage deiner Position im Highscore (unten).
    </p>
    <p>
        Darunter findest du den aktuellen <strong>Highscore</strong> anderer Spieler, wobei der Seltenheitswert der Tags
        bereits eingerechnet wurde.
        Dies dient dir als Orientierung und ist erst wieder <strong>nach den 15 Bildern</strong> sichtbar.
    </p>
</div>