<div>
    <p>
        Damit du dich mit anderen Spielern vergleichen kannst, findest du unter deiner Treffer- und Score-Anzeige einen
        <strong>Highscore</strong>.
    </p>
    <p>
        Am Ende des Spiels werden die Stichwörter aller Spieler mit einer erweiterten Liste von 10 Wörtern verglichen.
        Pro Treffer bekommt jeder Spieler <strong>0,25 Bonuspunkte</strong>, die auf den Gesamtscore addiert werden.
    </p>

    <p>
        Unter dem Highscore wird dir angezeigt, in welchem <strong>Level</strong> du dich gerade befindest.
    </p>

    <p>
        Nach dieser Einführung werden deine Punkte zurückgesetzt.
    </p>
</div>