<div>
    <p>
        Das Prinzip der Webseite ist gleich zu dem aus der Konzepterstellung: Auf der linken Seite siehst du ein <strong>Bild</strong>
        für <strong>5 Sekunden</strong>.
    </p>
    <p>
        Während das Bild <em>sichtbar</em> ist, kannst du dir überlegen, welche Stichworte dir zur Stimmung im Bild in
        den Sinn kommen.
        Wenn das Bild <em>verschwunden</em> ist, kannst du diese Stichworte in das entsprechende Feld eingeben, je mehr
        desto besser.
    </p>
    <p>
        Im Rahmen dieser Einführung geben wir dir <strong>drei Stimmungen als Beispiel</strong>, die du nach Belieben verwenden kannst.
        Du findest sie unter dem Stichwort-Feld.
    </p>
</div>