<div>
    <p>
        Auf der rechten Seite siehst du deine <strong>Treffer-Anzeige</strong> für das aktuelle Bild und
        deinen <strong>Score</strong> über alle bisherigen Bilder.
        Pro Stichwort, das du eingibst, und das von anderen Spielern ebenfalls oft eingegeben wurde (=
        <strong>Treffer</strong>), bekommst du einen Punkt auf deinen Score.
        So kannst du deinem Score pro Bild maximal <strong>5 Punkte</strong> hinzufügen.
    </p>

    <p>
        Beide Anzeigen sind zunächst rot und werden grün, sobald du mindestens <strong>3 Treffer</strong> für dieses
        Bild, bzw. durchschnittlich mehr als <strong>3 Treffer pro Bild</strong>, erzielt hast.
        Pro fehlendem Treffer zu diesen 3 Treffern bekommst du <strong>2 Minuspunkte</strong>, sodass du pro Bild
        maximal <strong>6 Minuspunkte</strong> sammeln kannst.
        Der Score wird stets aktuell gehalten, sodass du mit einem Score von <strong>-6</strong> startest.
    </p>
</div>