<div>
    <p>
        Für die folgenden <strong>5 Bilder</strong> spielst du gegen einen anderen Spieler deines Levels.
        Hier kannst du nun einen anderen Spieler herausfordern oder auf eine Herausforderung warten.
        Sobald ein Gegenspieler gefunden wurde kann das Spiel gestartet werden.
    </p>
    <p>
        Klicke auf <em>Spieler herausfordern</em> um einen beliebigen Spieler herauszufordern.
        Klicke auf <em>Herausforderung suchen</em> um auf eine Herausforderung eines anderen Spielers zu warten.
    </p>

    <div id="levels_498_challenge" class="invisible">
        <div class="loader center"></div>
        <p>
            Fordere einen Spieler <span
                class="typing_animated">heraus<span>.</span><span>.</span><span>.</span></span>
        </p>
    </div>

    <div id="levels_498_wait_for_challenge" class="invisible">
        <div class="loader center"></div>
        <p>
            Warte auf <span
                class="typing_animated">Herausforderung<span>.</span><span>.</span><span>.</span></span>
        </p>
    </div>
</div>