<div>
    <p>
        Das Bild ist nun verschwunden und du hast die Möglichkeit deine Stichwörter einzugeben, die du dir überlegt
        hast, als das Bild sichtbar war.
    </p>
    <p>
        Es spielen <strong>3 computer-gesteuerte Spieler</strong> mit dir.
        Dabei gibt es zwei Teams mit jeweils zwei Spieler.
        Ziel ist es, im Team zu erraten, welche Stichwörter das gegnerische Team erstellen wird.
        Bitte gebe in dieser Einführung mindestens ein Tag ein.
        Die Beispielstimmungen dienen hier zur Orientierung und als Wörter die das gegnerische Team in dieser Einführung
        garantiert erstellen wird.
    </p>
</div>