<div>
    <p>
        Du hast deine Eingabe bestätigt und kannst nun keine Tags mehr für das aktuelle Bild hinzufügen.
        Unter deinem Punktestand siehst du Stichwörter, die du und die anderen Spieler zu dem Bild erstellt haben.
    </p>
    <p>
        Darunter siehst du, wie viele Punkte du im aktuellen Bild erreicht hast.
        Jeder Spieler bekommt einen Punkt für jede Übereinstimmung mit den anderen Spielern.
        Du spielst gegen die <strong>4 zuletzt teilgenommenen Spieler</strong>.
        Die Zahlen in der Klammer geben dir Information darüber, wie viele Übereinstimmungen dein jeweiliges Tag mit
        anderen Spielern hatte ("unruhig" hatte z.B. 5 Übereinstimmungen).
    </p>
    <p>
        Mit einem Klick auf <em>Nächstes Bild</em> gelangst du zum nächsten Bild.
    </p>
</div>