<div>
    {{#normal}}
    <div>
        <p>
            Die folgenden <strong>drei Bilder</strong> dienen als <strong>Testlauf</strong>, damit du dich mit dem
            Ablauf
            vertraut machen kannst.
        </p>
        <p>
            Beschreibe bitte die <strong>Stimmung</strong>, die das jeweilige <strong>Bild</strong> für dich darstellt.
            Verwende dazu beliebig viele <strong>Stichwörter</strong> und schreibe diese in das entsprechende
            Eingabefeld.
            Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei.
        </p>
    </div>
    {{/normal}}

    {{#choice}}
    <div>
        <p>
            Die folgenden <strong>zwei Bilder</strong> dienen als <strong>Testlauf</strong>, damit du dich mit dem
            Ablauf
            vertraut machen kannst.
        </p>
        <p>
            Beschreibe bitte die <strong>Stimmung</strong>, die das jeweilige <strong>Bild</strong> für dich darstellt.
            Verwende dazu beliebig viele <strong>Stichwörter</strong> und schreibe diese in das entsprechende
            Eingabefeld.
            Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei.
        </p>
    </div>
    {{/choice}}

    {{#design}}
    <div>
        <p>
            Stelle dir vor, deine Aufgabe wäre wie folgt: Du siehst <strong>15 Bilder</strong> für jeweils <strong>5
            Sekunden</strong>.
            Nach jedem Bild wirst du gebeten uns zu beschreiben, was dir zur <strong>Stimmung im jeweiligen
            Bild</strong>
            in den Sinn kommt.
            Je mehr Stichworte dir pro Bild einfallen, desto mehr trägst du zur Studie bei.
        </p>
        <p>
            Auf der nächsten Seite zeigen wir dir mit Hilfe von <strong>drei Bildern</strong>, wie solch ein Prozess
            aussehen könnte.
            Danach wirst du gebeten, dir ein <strong>Spielkonzept</strong> zu überlegen, das dich persönlich dazu
            motivieren soll, möglichst viele Stichworte zu erstellen.
        </p>
    </div>
    {{/design}}

    {{#design_implemented}}
    <div>
        <p>
            Das <strong>folgende Bild</strong> dient dazu, dir zu zeigen, wie das Bilder-Taggen funktioniert, und wie
            du die Elemente aus deinem Spielkonzept erreichen kannst.
            Dieses Bild hast du bereits bei der Erstellung deines Spielkonzepts gesehen.
        </p>
    </div>
    {{/design_implemented}}

    <p>
        Klicke auf <em>Weiter</em>, wenn du bereit bist.
    </p>
</div>