<div>
    <p>
        Hier siehst du, wie viele <strong>Stichworte</strong> andere Spieler im Schnitt zu diesem Bild erstellt hast.
        Bitte gebe hier nun die Stichwörter ein, die du dir überlegt hast, als das Bild sichtbar war und bestätige deine
        Eingabe mit <em>Bestätigen</em>.
    </p>

    <p>
        Wenn du deine Eingabe bestätigt hast, kannst du keine weiteren Wörter mehr eingeben und bekommst Informationen
        über die Anzahl an Tags anderer Teilnehmer.
    </p>
</div>