<div>
    Nachdem du Tags für ein Bild erstellt hast, siehst du wie viel Prozent der anderen Teilnehmer die gleichen Tags wie du verwendet haben!<br><br>
    Du bekommst 100 Punkte für jeden Tag, den mindestens ein anderer Spieler ebenfalls verwendet hat und 10 Punkte pro Prozent an Übereinstimmung mit allen anderen Spielern.<br><br>
    Je häufiger deine Tags also von anderen Spielern benutzt wurden, desto mehr Punkte gibt es für dich!<br><br>
    Ein Klick auf "Statistik ändern" zeigt dir wie gut du dich darin schlägst Tags zu finden, die häufig von anderen verwendet wurden.
</div>