<div>
    Das Bild ist nun verschwunden. An der gleichen Stelle kannst du nun beliebig viele Stichworte erstellen. Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei.<br><br>
    Im Rahmen dieser Einführung geben wir dir pro Bild drei Stimmungen als Beispiel, die du nach Belieben verwenden kannst. Du findest sie unter dem Stichwort-Feld.<br><br>
    Mit einem Klick auf Nächstes Bild bestätigst du deine Eingabe und gelangst zum nächsten Bild.<br><br>
    Auf der rechten Seite siehst du wieviele Tags, die du erstellst hast, mit denen übereinstimmen, die wir vorgegeben haben.
    Du musst nun bei jedem Bild möglichst schnell 4 Tags erstellen, die auch wir vorgegeben haben. In diesem Tutorial reicht es die 3 Begriffe, die als Hilfe angeboten werden einzugeben.
</div>