<div>
    <p>
        Hier siehst du deinen <strong>aktuellen Punktestand</strong> (hier beispielhaft: 14).
        Du kannst Punkte sammeln, indem du Wörter notierst, die andere Spieler ebenfalls notiert haben.
        Pro Bild hat jeder Spieler <strong>60 Sekunden</strong> Zeit zum Eintippen seiner Stichwörter.
    </p>

    <p>
        Gebe hier nun bitte die Stichwörter ein, die du dir überlegt hast, als das Bild sichtbar war und bestätige deine
        Eingabe mit <em>Bestätigen</em>.
        In dieser Einführung hast du beliebig viel Zeit, sollte später die Zeit ablaufen wird deine Eingabe automatisch
        bestätigt.
    </p>
</div>