<div>
    <p>
        <strong>Super!</strong> Du hast den Testlauf erfolgreich abgeschlossen.
    </p>
    <p>
        Für die folgenden 15 Bilder spielst du mit drei weiteren Mitspielern.
        Klicke auf <em>Suchen</em> um die Suche nach Mitspielern zu starten.
    </p>

    <div id="teams_simple_104_lobby_loader" class="invisible">
        <div class="loader center"></div>
        <p>
            Es wird nach Mitspielern <span
                class="typing_animated">gesucht<span>.</span><span>.</span><span>.</span></span>
        </p>

        <ul>
            <li id="teams_simple_wait_p1" class=""></li>
            <li id="teams_simple_wait_p2" class="invisible">legolas</li>
            <li id="teams_simple_wait_p3" class="invisible">anork85</li>
            <li id="teams_simple_wait_p4" class="invisible">verdani</li>
        </ul>
    </div>
</div>