<div>
    <p>
        Du hast deine Wörter nun <strong>bestätigt</strong> und kannst für dieses Bild keine weiteren Stichwörter mehr
        eingeben.
    </p>
    <p>
        Nachdem alle Spieler ihre Wörter bestätigt haben (oder die 90 Sekunden abgelaufen sind), werden diese <strong>überprüft</strong>.
        Das Team mit den meisten <strong>sinnvollen Antworten</strong> gewinnt diese Runde und das nächste Bild kann
        ausgewählt werden.
        Klicke dazu auf <em>Nächstes Bild</em>.
    </p>
    <p>
        <em>Hinweis</em>: Nach dieser Einführung bekommst du die Gelegenheit, deinen <strong>Nicknamen</strong> zu
        erstellen; diese Einführung zeigt dir das Prinzip mit Hilfe von beispielhaften Spielern.
    </p>
</div>