<div>
    <p>
        Hier siehst du, wie viel <strong>Punkte</strong> du im <strong>vorherigen Bild</strong> erreicht hast (hier
        beispielhaft).
        Jedes deiner Tags bringt dir Punkte, wobei seltene Tags mehr Punkte geben als häufig verwendete.
        Nachdem du alle <strong>15 Bilder</strong> bearbeitet hast, werden deine Punkte aufsummiert und ergeben deinen
        Punktestand.
        Dieser Punktestand bildet die Grundlage deiner Position im Leaderboard (unten).
    </p>
    <p>
        Darunter findest du das aktuelle <strong>Leaderboard</strong>, wobei der Seltenheitswert der Tags der anderen
        Teilnehmern bereits eingerechnet wurde.
        Dies dient dir als Orientierung und ist erst wieder <strong>nach den 15 Bildern</strong> sichtbar.
    </p>
</div>