<div>
    <p>
        Hier siehst du deinen <strong>aktuellen Punktestand</strong> (hier beispielhaft: 12).
        Nach jedem Bild werden deine Stichwörter mit denen anderer <strong>verglichen</strong>.
    </p>
    <p>
        Dein Punktstand wird aktualisiert, sobald du deine Eingaben bestätigt hast und die Stichwörter verglichen
        wurden.
    </p>
    <p>
        Gebe hier bitte die Stichwörter ein, die du dir ausgedacht hast, als das Bild sichtbar war, und bestätige mit
        <em>Bestätigen</em>.
    </p>
</div>