<div>
    <p>
        Du hast deine Eingabe bestätigt und kannst nun keine Tags mehr für das aktuelle Bild hinzufügen.
        Unter deinem Punktestand siehst du <strong>Begriffe anderer Teilnehmer</strong>, die du als passend markieren
        kannst.
    </p>
    <p>
        Wenn jeder Teilnehmer seine Auswahl bestätigt hat (<em>Bewerten</em>) werden die Punkte berechnet und jedem
        Teilnehmer gutgeschrieben.
        Hierbei gibt es pro Wort, das von anderen Teilnehmern als passend markiert wurde, <strong>1 Punkt</strong>, bzw.
        <strong>3 Punkte</strong>, sofern der Spieler alleiniger Ersteller dieses Tags ist.
        Danach kommst du mit <em>Nächstes Bild</em> zum nächsten Bild.
    </p>
    <p>
        Nach den <strong>15 Bildern</strong> wird dir unter deinem Punktestand angezeigt, auf welchem Platz du dich
        befindest.
    </p>
</div>