<div>
    Das Bild ist nun verschwunden. An der gleichen Stelle kannst du nun beliebig viele Stichworte erstellen. Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei.<br><br>
    Im Rahmen dieser Einführung geben wir dir pro Bild drei Stimmungen als Beispiel, die du nach Belieben verwenden kannst. Du findest sie unter dem Stichwort-Feld.<br><br>
    Mit einem Klick auf Bestätigen bestätigst du deine Eingabe und erhältst Punkte auf der rechten Seite.<br><br>
    Je häufiger deine eingegebenen Stimmungen auch von anderen Spielern getagged wurden, desto mehr Punkte erhältst du!<br>
</div>