<div>
    <p>
        Stelle dir vor, deine Aufgabe wäre wie folgt: Du siehst <strong>15 Bilder</strong> für jeweils <strong>5
        Sekunden</strong>.
        Nach jedem Bild wirst du gebeten uns zu beschreiben, was dir zur <strong>Stimmung im jeweiligen Bild</strong>
        in den Sinn kommt.
        Je mehr Stichworte dir pro Bild einfallen, desto mehr trägst du zur Studie bei.
    </p>
    <p>
        Auf der nächsten Seite zeigen wir dir mit Hilfe von <strong>drei Bildern</strong>, wie solch ein Prozess
        aussehen könnte.
        Danach wirst du gebeten, dir ein <strong>Spielkonzept</strong> zu überlegen, das dich persönlich dazu
        motivieren soll, möglichst viele Stichworte zu erstellen.
    </p>
</div>