<div>
    <p>
        Damit du die Studie problemfrei durchführen kannst, benötigst du ein Browser-Fenster mit mindestens einer
        <strong>Breite von {{min_width}}px</strong> und einer <strong>Höhe von {{min_height}}px</strong>.
        Bitte passe dein Fenster entsprechend an.
        Sollte dein Display nicht groß genug sein, möchten wir dich bitten, es mit einem anderen Computer oder Laptop zu
        versuchen.
        Vielen Dank für dein Verständnis.
    </p>
    <p>
        Dein Browser-Fenster hat aktuell folgende Größe: <strong><span id="curr_size"></span></strong>
    </p>
    <p>
        Dieser Dialog schließt sich automatisch, sobald dein Browserfenster die Mindestgröße erreicht hat.
    </p>
</div>