<div>
    Das Bild ist nun verschwunden. An der gleichen Stelle kannst du nun beliebig viele Stichworte erstellen. Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei und desto mehr Punkte erhältst du.<br><br>
    Im Rahmen dieser Einführung geben wir dir pro Bild drei Stimmungen als Beispiel, die du nach Belieben verwenden kannst. Du findest sie unter dem Stichwort-Feld.<br><br>
    Auf der rechten Seite siehst du wie gut du dich im Vergleich zu anderen schlägst. Du bekommst einen Punkt für jedes zum Bild passende Wort.
</div>