<div>
    <p>
        Das Bild ist nun <em>verschwunden</em>.
        An der gleichen Stelle kannst du nun beliebig viele <strong>Stichworte erstellen</strong>.
        Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei.
    </p>
    <p>
        Im Rahmen dieser Einführung geben wir dir pro Bild <strong>drei Stimmungen als Beispiel</strong>, die du nach
        Belieben verwenden kannst.
        Du findest sie unter dem Stichwort-Feld.
    </p>
    <p>
        Mit einem Klick auf <em>Nächstes Bild</em> bestätigst du deine Eingabe und gelangst zum nächsten Bild.
    </p>
</div>