<div>
    <p>
        Du hast deine Eingabe bestätigt und kannst nun keine Tags mehr für das aktuelle Bild hinzufügen.
        Für jede Übereinstimmung mit einem anderen Spieler bekommst du einen Punkt.
    </p>
    <p>
        Unter deinem Punktestand siehst du <strong>Begriffe anderer Spieler</strong> die mit sonst keinem anderen
        Teilnehmer übereinstimmen.
        Ein Begriff, der von anderen Spielern als "passend" markiert wird, bringt dem Urheber 2 Punkte.
    </p>
    <p>
        Gegen dich treten 2 weitere Spieler an.
        Der Spieler mit den meisten Punkten gewinnt das Spiel.
        Nach den <strong>15 Bildern</strong> wird dir unter deinem Punktestand angezeigt, auf welchem Platz du dich
        befindest.
    </p>
</div>