<div>
    <p>
        <strong>Super!</strong> Du hast den Testlauf erfolgreich abgeschlossen.
    </p>
    <p>
        Für die folgenden 15 Bilder kannst du entweder alleine gegen einen anderen Spieler (Singleplayer) oder im 2er
        Team gegen ein anderes Team (Multiplayer) spielen.
        Hier kannst du nun nach Mitspielern suchen.
        Sobald Mitspieler gefunden wurden, geht es weiter und du kannst entscheiden, ob du im Singleplayer- oder im
        Multiplayer-Modus spielen möchtest.
        Beide Modi werden dir dann nochmals detaillierter erklärt.
    </p>
    <p>
        Klicke auf <em>Suchen</em> um die Suche nach Mitspielern zu starten.
    </p>

    <div id="single_teams_407_lobby_loader" class="invisible">
        <div class="loader center"></div>
        <p>
            Es wird nach Mitspielern <span
                class="typing_animated">gesucht<span>.</span><span>.</span><span>.</span></span>
        </p>
    </div>
</div>