<div>
    <p>
        Du hast deine Wörter nun <strong>bestätigt</strong> und kannst für dieses Bild keine weiteren Stichwörter mehr
        eingeben.
    </p>
    <p>
        Nachdem alle Spieler ihre Wörter bestätigt haben, werden diese <strong>überprüft</strong>.
        Pro Übereinstimmung mit dem gegnerischen Team bekommt jedes Team <strong>1 Punkt</strong>.
        Sollte jedoch kein Wort übereinstimmen, bekommt jedes Team <strong>3 Minuspunkte</strong>.
        Ob das jeweilige Team Plus- oder Minuspunkte gesammelt hast, erkennst du an der Schriftfarbe (grün bzw. rot).
    </p>
    <p>
        <em>Hinweis</em>: Nach dieser Einführung bekommst du die Gelegenheit, deinen <strong>Nicknamen</strong> zu
        erstellen, der statt "Du" angezeigt werden soll.
    </p>
</div>