<div>
    <h4>Allgemeines</h4>
    <p>
        Die folgende Studie ist Teil einer Abschlussarbeit am Deutschen Forschungszentrum für
        Künstliche Intelligenz (DFKI GmbH).
    </p>
    <h4>Freiwillige Teilnahme und Einwilligung</h4>
    <p>
        Die Teilnahme an der Studie ist freiwillig. Die Einwilligung zur Teilnahme an dieser Studie kann
        jederzeit und ohne Angabe von Gründen bis zum Ende der Datenerhebung widerrufen werden, indem das
        Browserfenster geschlossen wird. Alle unvollständigen Datensätze werden von uns gelöscht. Nach dem Ende
        der Studie können die gesetzlichen Rechte auf Auskunft, Berechtigung, Löschung, Einschränkung, Widerspruch und
        Übertragbarkeit nicht mehr wahrgenommen werden, weil die Daten nicht mehr der betroffenen Person zugeordnet
        werden können.
    </p>
    <h4>Welche Daten erfassen wir?</h4>
    <p>
        Nach der Einwilligung zur Datenerfassung werden folgende Daten erhoben und verarbeitet:
    </p>
    <ul>
        <li>Eingaben in der Online-Studie.</li>
        {{#design_only}}
        <li>Deine E-Mail-Adresse (eine Eingabe in der Online-Studie).</li>
        {{/design_only}}
    </ul>
    <p>
        Aus technischen Gründen werden u.a. folgende Daten, die vom Internet-Browser an uns bzw. an unseren
        Webspace-Provider übermittelt werden, erfasst (sogenannte Server-Logfiles):
    </p>
    <ul>
        <li>Browsertyp und -version.</li>
        <li>verwendetes Betriebssystem.</li>
        <li>Webseite, die zuvor besucht wurde (Referrer URL).</li>
        <li>Datum und Uhrzeit des Zugriffs.</li>
        <li>Die Internet-Protokoll (IP)-Adresse.</li>
    </ul>
    <p>
        Diese Daten werden zu keinem Zeitpunkt mit den Umfragedaten zusammengeführt.
    </p>
    {{#design_only}}
    <h4>Wofür nutzen wir deine E-Mail-Adresse?</h4>
    <p>
        Teil der Studie ist es, ein Spielkonzept zu entwickeln, das wir für dich umsetzen werden.
        Sobald das getan ist, kontaktieren wir dich über die angegebene E-Mail-Adresse.
        So brauchst du nicht täglich auf der Webseite nachzuschauen, ob dein Spielkonzept bereits umgesetzt wurde.
    </p>
    <h4>Zusammenführung der E-Mail-Adresse mit anderen Daten</h4>
    <p>
        Die E-Mail-Adresse dient lediglich zu dem oben genannten Zweck.
        Demnach ist es notwendig, dass wir deine E-Mail-Adresse mit den Textfeldern des Spielkonzept-Designs
        zusammenführen, damit du auch wirklich die Realisierung des von dir designten Spielkonzepts bekommst.
    </p>
    <h4> Anonymisierung der Daten</h4>
    <p>
        Sobald dein Spielkonzept umgesetzt wurde und wir dich über die angegebene E-Mail-Adresse kontaktiert haben,
        löschen wir diese aus unserem Datensatz, sodass deine E-Mail-Adresse nicht mit in die Auswertung der Studie
        einfließt.
        Danach ist eine Zuordnung der erhobenen Daten zu einer Person praktisch unmöglich, sofern keine persönlichen
        Daten in Freitextfeldern eingegeben werden.
    </p>
    {{/design_only}}

    {{#normal_only}}
    <h4>Anonymisierung der Daten</h4>
    <p>
        Mit der Übertragung der erhobenen Daten an unseren Server erfolgt eine Anonymisierung, die eine
        Zuordnung der erhobenen Daten zu einer Person praktisch unmöglich macht, sofern keine persönlichen Daten
        in Freitextfeldern eingegeben werden.
    </p>
    {{/normal_only}}

    <h4>Wofür nutzen wir die erhobenen Daten?</h4>
    <p>
        Die Ergebnisse und Daten werden ausschließlich zu wissenschaftlichen Forschungszwecken verwendet und sie werden
        im Rahmen der Master-Arbeit und als wissenschaftliche Publikation dieser Studie in anonymisierter Form
        veröffentlicht. Darüber hinaus können sie in anonymer Form für andere wissenschaftliche Forschungszwecke
        weiterverarbeitet werden. Im Rahmen der wissenschaftlichen Publikation erhält das Deutsche Forschungszentrum für
        Künstliche Intelligenz (DFKI GmbH) Zugriff auf den anonymisierten Datensatz.
    </p>
    {{#design_only}}
    <h4>Widerrufsrecht</h4>
    <p>
        Die Einwilligung zur Nutzung deiner E-Mail-Adresse für den oben genannten Zweck kann jederzeit und ohne Angabe
        von Gründen vor der Kontaktaufnahme widerrufen werden.
        Kontaktiere uns bitte über die unten stehende E-Mail-Adresse, wenn du von diesem Widerrufsrecht Gebrauch machen
        möchtest.
        Wir werden dann umgehend sowohl deine E-Mail-Adresse als auch dein von dir angegebenes Spielkonzept
        löschen.
    </p>
    {{/design_only}}
    <h4>Cookies</h4>
    <p>
        Auf dieser Webseite verwenden wir
        sogenannte Cookies. Cookies sind kleine Dateien, die von deinem Webbrowser gespeichert werden. Die auf
        unserer Webseite verwendeten Cookies richten auf deinem Rechner keinen Schaden an und enthalten keine
        Schadsoftware. Sie ermöglichen eine benutzerfreundliche und effektive Nutzung dieser Webseite. Wir
        nutzen permanente Cookies mit einer Gültigkeitsdauer von höchstens 365 Tagen. Wir verwenden diese Cookies
        ausschließlich dazu, um eine mehrfache Teilnahme auszuschließen.
    </p>
    <h4>Ansprechpartner</h4>
    <p>
        Verantwortlich für die Durchführung dieser Studie ist Dennis Gudea Marc (<i>s8degude@stud.uni-saarland.de</i>).
    </p>
</div>