<div>
    <p>
        Du spielst gegen einen Gegenspieler.
        Ziel ist es, als erster <strong>4 vordefinierte</strong> Tags zu finden und somit die Runde zu gewinnen.
        Auf der rechten Seite siehst du, welche Tags du bereits getroffen hast.
    </p>
    <p>
        Sollte dir kein Wort mehr einfallen, kannst du aufgeben und dein Gegenspieler gewinnt die Runde.
        Klicke hierzu auf <em>Runde aufgeben</em>.
        Der Sieger der Runde erscheint in dem markierten Feld auf der rechten Seite.
    </p>
    <p>
        Bitte gebe hier die 3 Beispielstimmungen ein, die unter dem Bild vorgeschlagen werden.
        Diese reichen aus, um die Einführung zu gewinnen.
        Zudem hast du hier auch noch keinen Gegenspieler, also keinen Grund zur Eile.
    </p>
</div>