<div>
    <p>
        Hier siehst du dein aktuell noch leeres <strong>Aquarium</strong>.
        Jedes <strong>3. Tag</strong> schaltet neue Pflanzen oder Fische frei, die dann für dich sichtbar im
        Aquarium werden.
    </p>
    <p>
        Neben diesen Elementen kannst du zusätzlich noch <strong>3 Überraschungen</strong> freischalten.
        Unter dem Aquarium findest du eine kleine Anzeige, die dir einen Hinweis darauf gibt, wie viele Tags du
        noch bis zur nächsten Überraschung brauchst.
    </p>
    <p>
        Solltest du am Ende eine bestimmte Anzahl an Tags erreicht haben, so schaltest du eine weitere <strong>besondere
        Überraschung</strong> frei.
    </p>
    <p>
        Das Aquarium wird nach der Einführung zurückgesetzt.
    </p>
</div>