<div>
    Das Bild ist nun verschwunden. An der gleichen Stelle kannst du nun beliebig viele Stichworte erstellen. Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei und desto mehr Punkte erhältst du.<br><br>
    Im Rahmen dieser Einführung geben wir dir pro Bild drei Stimmungen als Beispiel, die du nach Belieben verwenden kannst. Du findest sie unter dem Stichwort-Feld.<br><br>
    Auf der rechten Seite siehst du die Anzahl an Tags, die du im Schnitt pro Bild verwendet hast um Bilder zu beschreiben, sowie die verbleibende Zeit um Tags für dieses Bild zu finden.
</div>