<div>
    Das Bild ist nun verschwunden. An der gleichen Stelle kannst du nun beliebig viele Stichworte erstellen. Je mehr Stichwörter du erstellst, desto mehr trägst du zur Studie bei und desto mehr Punkte erhältst du.<br><br>
    Im Rahmen dieser Einführung geben wir dir pro Bild drei Stimmungen als Beispiel, die du nach Belieben verwenden kannst. Du findest sie unter dem Stichwort-Feld.<br><br>
    Aus Gründen der Fairness werden Worte mit Rechtschreibfehlern oder Kunstworte nicht bepunktet. Diese werden in den entsprechenden Fällen in rot markiert.<br><br>
    Mit einem Klick auf Nächstes Bild bestätigst du deine Eingabe und gelangst zum nächsten Bild.<br><br>
    Auf der rechten Seite siehst du die Anzahl an Tags, die du Im Schnitt pro Bild verwendet hast um Bilder zu beschreiben, sowie die verbleibende Zeit um Tags für dieses Bild zu finden.
</div>