<div>
    <p>
        Pro eingegebenem Stichwort erhältst du <strong>100 Punkte</strong>.
        Damit du deine Stichwort-Menge besser abschätzen kannst, siehst du hier dauerhaft deine aktuelle Punktzahl.
        Zudem kannst du Bonuspunkte für seltene Stichwörter sammeln, diese siehst du jedoch erst nach den 15 Bilder.
    </p>
    <p>
        Die Gesamtpunkte sind die Grundlage für die Bestenliste, die du dir anschauen kannst, sobald du alle Bilder
        bearbeitet hast.
        Der erste Platz hat am Ende der Studie eine Chance auf einen <strong>kleinen Preis</strong> in Form eines
        Gutscheins.
    </p>
</div>