<div>
    <h3>Ranking</h3>
    <div class="card no-border bg-gray w-100 leaderboard" id="div_it_id_points_731_lb"></div>
</div>

<div>
    <p>Dieses Bild wurde mit insgesamt <span id="numTags" style="font-weight: bold">0</span> verschiedenen Tags von anderen Spielern versehen.</p>
</div>

{{#anyTags}}
<div>
    <p>Im Folgenden siehst du die vergebenen Stimmungen anderer Spieler für dieses Bild. Mit einem Klick auf die Smileys kannst du besonders gut oder schlecht passende Begriffe bewerten, wenn du möchtest.<br>
    Blau eingefärbte stimmen mit deinen überein.
    </p>
    <ul class="list-inline" id="tagList" style="max-height: 250px; overflow: auto">
    </ul>
    <p>Du hast <b><span id="id_731_accordance">0></span></b> Übereinstimmungen mit Tags anderer Spieler. Dies verschafft dir am Ende einen Bonus!</p>
</div>
{{/anyTags}}

{{^end_page}}
<div>
    <button type="button" class="btn btn-primary w-35 pt-3 pull-right" onclick="btn_oc_postImageTags()" id="next_img_points_731">
        Nächstes Bild <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>
{{/end_page}}