<div>
    <p>
        Es wurde <strong>ein Mitspieler</strong> gefunden.
        Du hast nun die Wahl, ob du alleine gegen ihn antreten möchtest, oder ob du mit einem Computer-gesteuerten
        Mitspieler im Team gegen ihn und einen ebenfalls Computer-gesteuerten Mitspieler antreten möchtest.
    </p>
    <p>
        In dem Testlauf hast du den <strong>Singleplayer-Modus</strong> gesehen.
        Neben diesem Modus gibt es einen <strong>Multiplayer-Modus</strong>, bei dem zwei Teams mit jeweils zwei
        Spielern gegeneinander antreten.
    </p>
    <p>
        Ziel des Singleplayer-Modus ist es, <strong>4 vordefinierte</strong> Stimmungen vor dem Gegenspieler zu erreichen.
        Im Multiplayer-Modus hingegen müssen <strong>4 übereinstimmende</strong> Stimmungen mit dem Teampartner gefunden
        werden, um die Runde zu gewinnen.
    </p>
    <p>
        Bitte entscheide dich nun, welchen Modus du für die nächsten 15 Bilder nutzen möchtest.
        Deine Wahl kann danach nicht mehr geändert werden.
    </p>
</div>