<div>
    <div class="bg-primary text-center pl-3 pr-3 pt-3 pb-3" id="div_it_id_levels_498_level_div">
        <h4 class="game_element_point card-title text-center">Dein aktuelles Level: <span
                id="div_it_id_levels_498_level">{{level}}</span></h4>
    </div>
</div>

<div class="invisible" id="div_it_id_levels_498_lb_div">
    <h3>Bestenliste (gewonnene Runden)</h3>
    <div class="card no-border bg-gray w-100 leaderboard" id="div_it_id_levels_498_lb"></div>
</div>

<br>

<div id="div_it_id_levels_498_levels_winner_div"></div>