<div class="row pt-1">
    <div class="col-md-11 center">
        <div class="card bg-gray">
            <div class="w-100">

                {{#design}}
                <div>
                    <h2>Umsetzung deines Spielkonzepts</h2>
                    <p>
                        Bevor du zum Fragebogen kommst, möchten wir dich bitten, dass du dein Spielkonzept nochmals
                        durchliest und die folgenden Fragen beantwortest.
                    </p>
                    <br>
                    <h4>Dein angegebenes Spielkonzept:</h4>
                    <p id="design_concept">
                        Mein Spiel ist nur für mich alleine.
                        Ich möchte für jedes gelöste Bild eine bestimmte Anzahl Punkte bekommen.
                        Diese Punkte wiederum können Errungenschaften triggern.
                        Ziel für mich als Spieler ist es dann, möglichst viele Tags einzugeben um somit dementsprechend
                        viele Errungenschaften freizuschalten.
                        Damit ich weiß, wie nah/fern ich an einer Errungenschaft bin, möchte ich, dass meine Punktzahl
                        kontinuierlich angezeigt wird und aktuell ist; die Errungenschaften hingegen werden pro Bild
                        vergeben.
                        Meine Errungenschaften sollten stets sichtbar sein, auch wenn ich sie noch nicht freigeschaltet
                        habe.
                        Dennoch sollte ersichtlich sein, ob ich eine Errungenschaft erreicht habe oder nicht.
                    </p>
                    <br>

                    <h4>Warum denkst du, dass dein Spielkonzept dich motiviert?</h4>
                    <p id="design_motivation">
                        Ich arbeite gerne zielorientiert.
                    </p>
                    <br>

                    <h4>Was ist für dich das Wichtigste an deinem Spielkonzept?</h4>
                    <p id="design_favorite">
                        Die Achievements.
                    </p>
                    <br>

                    <hr class="hr_dark">
                </div>
                {{/design}}

                <div id="survey_{{name}}">
                    Lädt...
                </div>

            </div>
        </div>
    </div>
</div>