<div>
    <div class="bg-blue pull-left pl-3 pr-3">
        <h4 class="game_element_point card-title text-center" id="div_it_id_points_review_points">Punkte: 0</h4>
    </div>

    {{^end_page}}
    <div id="points_review_125_timer_div" style="font-size: large">
        <br>
        <br>
        <br>
        Für dieses Bild verbleiben <span id="points_review_125_timer">90</span> Sekunden.
    </div>
    {{/end_page}}

    <br><br>

    <div class="pt-3">
        {{#final_view}}
        <h4>Herzlichen Glückwunsch!</h4>
        <p>
            Du hast den <strong><span id="id_points_review_125_place">fünften</span> Platz</strong> erreicht!
        </p>
        {{/final_view}}

        <div class="invisible" id="div_it_id_points_review_other_tags">
            <div id="div_it_id_points_review_table">
                <span class="typing_animated">Tabelle lädt<span>.</span><span>.</span><span>.</span></span>
            </div>

            <div class="invisible pt-2 pb-2" id="points_review_125_waiting_div">
                <span>
                    <span id="points_review_125_waiting"
                          class="typing_animated" style="font-size: medium">Warten auf andere Spieler<span>.</span><span>.</span><span>.</span></span>
                </span>
            </div>

            <button type="button" class="btn btn-primary w-35 pt-3 pull-left" onclick="ID_POINTS_REVIEW_125.btn_oc_rate()"
                    id="next_img_points_rate">
                Bewerten
            </button>

            <button type="button" class="btn btn-primary w-35 pt-3 pull-right" onclick="btn_oc_postImageTags()"
                    id="next_img_points_review" disabled>
                Nächstes Bild <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>