<div>
    <div id="div_it_id_complex_115_words_and_points_div" class="bg-gray" style="overflow:auto; position:relative">
        <div class="bg-danger pull-left pl-3 pr-3" id="div_it_id_complex_115_words_bg">
            <h4 class="game_element_point card-title text-center">Treffer: <span
                    id="div_it_id_complex_115_words">0</span>/{{points_max}}</h4>
        </div>

        <div class="bg-danger pull-right pl-3 pr-3" id="div_it_id_complex_115_points_bg">
            <h4 class="game_element_point card-title text-center">Score: <span
                    id="div_it_id_complex_115_points">0</span></h4>
        </div>
    </div>

    <br>

    <div id="div_it_id_complex_115_lb_and_level" class="bg-gray" style="position:relative">
        <h3>Highscore ({{bonus_with_without}} Bonus)</h3>
        <br>
        <div class="card no-border container_margin_top-5">
            <div class="card no-border bg-gray w-100 leaderboard" id="div_it_id_complex_115_lb"></div>
        </div>
        <br>
        <div class="bg-primary text-center pl-3 pr-3 pt-3 pb-3" id="div_it_id_complex_115_level_div">
            <h4 class="game_element_point card-title text-center">Level: <span
                    id="div_it_id_complex_115_level">{{level}}</span></h4>
        </div>
    </div>

</div>