{{^end_screen}}
<button type="button" id="next_img_character_775" class="invisible btn btn-primary w-35 pt-3 pull-right" onclick="{{btn_listener}}">
    Nächstes Bild <span class="glyphicon glyphicon-arrow-right"></span>
</button>
<div>
    <h3 id="LBHeading">Ranking (Anzahl Tags) </h3>
    <div class="card no-border bg-gray w-100 leaderboard" id="div_it_id_character_775_lb"></div>
</div>
<div>
     {{#start_charac}}
        <img src="img/‪character_images/othercharac.png" id = "charac_image_775" align = right>
    {{/start_charac}}
    {{#charac_1}}
        <img src="img/‪character_images/firstCH.png" align = right>
    {{/charac_1}}
    {{#charac_2}}
        <img src="img/‪character_images/secondCh.png" align = right>
    {{/charac_2}}
    {{#charac_3}}
        <img src="img/‪character_images/thirdCh.png" align = right>
    {{/charac_3}}
    {{#charac_4}}
        <img src="img/‪character_images/fourthCh.png" align = right>
    {{/charac_4}}
    <h3 id="RatingHeading">Bewertung deiner Tags </h3>
    <div id="ratingDiv" style="max-height: 350px; overflow-y: auto"></div>
</div>
{{/end_screen}}

{{#end_screen}}
<div>
    Du hast alle 15 Runden abgeschlossen. Danke für deine Teilnahme!

</div>
{{/end_screen}}