<div id="aquarium_bg" class="aquarium_bg_ugly" style="overflow:hidden">
    <!-- The animated bubbles -->
    <div id="aquarium_bubbles" class="bubbles invisible"></div>

    <!-- The ground -->
    <div id="aquarium_ground" class="ground invisible"></div>

    <!-- alga -->
    <div id="aquarium_surprise_1" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/alga.png"
                 style="position:absolute;left:35%;bottom:0px;z-index:50; height:325px;" alt="alga">
        </div>
    </div>

    <!-- turtle -->
    <div id="aquarium_surprise_2" class="invisible">
        <img src="img/resources/aquarium/ground/turtle_1.png"
             style="position:absolute;left:10%;bottom:0px;z-index:90; height:150px;" alt="turtle">
    </div>

    <!-- whale -->
    <div id="aquarium_surprise_3" class="invisible">
        <img src="img/resources/aquarium/fishes/whale.png" alt="whale">
    </div>

    <!-- shark -->
    <div id="aquarium_surprise_4" class="invisible">
        <img src="img/resources/aquarium/fishes/shark.png" alt="shark">
    </div>

    <!-- The fishes -->
    <div id="aquarium_gold_fish_1" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_orange_2.png" style="width:50px;height:50px;" alt="fish">
    </div>

    <div id="aquarium_gold_fish_2" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_pink_2.png" style="width:45px;height:45px;" alt="fish">
    </div>

    <div id="aquarium_gold_fish_3" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_orange_2.png" style="width:48px;height:48px;" alt="fish">
    </div>

    <div id="aquarium_gold_fish_4" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_pink_2.png" style="width:43px;height:43px;" alt="fish">
    </div>

    <div id="aquarium_fish_blue" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_blue.png" style="width:50px;height:50px;" alt="fish">
    </div>

    <div id="aquarium_fish_eel_1" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_eel.png" style="width:75px;height:75px;" alt="fish">
    </div>

    <div id="aquarium_fish_eel_2" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_eel.png" style="width:40px;height:40px;" alt="fish">
    </div>

    <div id="aquarium_fish_green_1" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_green.png" style="width:50px;height:50px;" alt="fish">
    </div>

    <div id="aquarium_fish_green_2" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_green.png" style="width:45px;height:45px;" alt="fish">
    </div>

    <div id="aquarium_fish_orange" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_orange.png" style="width:40px;height:40px;" alt="fish">
    </div>

    <div id="aquarium_fish_pink" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_pink.png" style="width:60px;height:60px;" alt="fish">
    </div>

    <div id="aquarium_fish_puffer" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_puffer.png" style="width:50px;height:50px;" alt="fish">
    </div>

    <div id="aquarium_fish_red_1" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_red.png" style="width:60px;height:60px;" alt="fish">
    </div>

    <div id="aquarium_fish_red_2" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_red.png" style="width:55px;height:55px;" alt="fish">
    </div>

    <div id="aquarium_fish_skeleton_1" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_skeleton_1.png" style="width:55px;height:55px;" alt="fish">
    </div>

    <div id="aquarium_fish_skeleton_2" class="invisible">
        <img src="img/resources/aquarium/fishes/fish_skeleton_2.png" style="width:45px;height:45px;" alt="fish">
    </div>

    <div id="aquarium_rock_div_1" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/rock_1.png" style="position:absolute;left:1%;bottom:5px;z-index:50"
                 alt="rock">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/rock_2.png"
                 style="position:absolute;left:12.5%;bottom:10px;z-index:50" alt="rock">
        </div>
    </div>

    <div id="aquarium_rock_div_2" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/rock_3.png"
                 style="position:absolute;left:25%;bottom:15px;z-index:50" alt="rock">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/rock_4.png"
                 style="position:absolute;left:37.5%;bottom:10px;z-index:50" alt="rock">
        </div>
    </div>

    <div id="aquarium_rock_div_3" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/rock_4.png" style="position:absolute;right:1%;bottom:5px;z-index:50"
                 alt="rock">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/rock_3.png"
                 style="position:absolute;right:12.5%;bottom:10px;z-index:50" alt="rock">
        </div>
    </div>

    <div id="aquarium_rock_div_4" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/rock_2.png"
                 style="position:absolute;right:25%;bottom:15px;z-index:50" alt="rock">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/rock_1.png"
                 style="position:absolute;right:37.5%;bottom:10px;z-index:50" alt="rock">
        </div>
    </div>

    <div id="aquarium_star_fishes" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/star_fish_1.png"
                 style="position:absolute;left:150px;bottom:0px;z-index:50" alt="rock">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/star_fish_2.png"
                 style="position:absolute;right:0px;bottom:0px;z-index:50" alt="rock">
        </div>
    </div>

    <div id="aquarium_plant_blue" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_blue_1.png"
                 style="position:absolute;left:1px;bottom:10px;z-index:45" alt="plant">
        </div>
        <div>
            <img src="img/resources/aquarium/ground/plant_blue_2.png"
                 style="position:absolute;right:1px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_1" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_1.png"
                 style="position:absolute;left:50px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_2" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_2.png"
                 style="position:absolute;right:150px;bottom:0px;z-index:50" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_3" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_3.png"
                 style="position:absolute;left:-10px;bottom:0px;z-index:50" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_4" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_4.png"
                 style="position:absolute;right:100px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_5" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_5.png"
                 style="position:absolute;left:150px;bottom:0px;z-index:50" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_green_6" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_green_6.png"
                 style="position:absolute;right:-20px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_pink_1" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_pink_1.png"
                 style="position:absolute;left:-15px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_pink_2" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/plant_pink_2.png"
                 style="position:absolute;right:-10px;bottom:10px;z-index:45" alt="plant">
        </div>
    </div>

    <div id="aquarium_plant_pink_3" class="invisible">
        <div>
            <img src="img/resources/aquarium/ground/ship.png"
                 style="position:absolute;left:-15px;top:0px;z-index:10" alt="plant">
        </div>
    </div>

</div>

<div id="aquarium_tag_surprise" class="pt-3">

</div>