{{^end_screen}}
<button type="button" id="next_img_character_775" class="invisible btn btn-primary w-35 pt-3 pull-right"
        onclick="{{btn_listener}}">
    Nächstes Bild <span class="glyphicon glyphicon-arrow-right"></span>
</button>
<div>
    <h3 id="LBHeading">Ranking (Anzahl Tags) </h3>
    <div class="card no-border bg-gray w-100 leaderboard" id="div_it_id_character_775_lb"></div>
</div>
<div class="rating">
    <h3 id="RatingHeading">Bewertung deiner Tags </h3>
    <div id="ratingDiv" style="max-height: 350px; overflow-y: auto"></div>
</div>
<div class="picture">
    {{#start_charac}}
    <img src="img/‪character_images/othercharac.png" id="charac_image_775" align=right>
    {{/start_charac}}
    {{#charac_1}}
    <img src="img/‪character_images/firstCH.png" align=right>
    {{/charac_1}}
    {{#charac_2}}
    <img src="img/‪character_images/secondCh.png" align=right>
    {{/charac_2}}
    {{#charac_3}}
    <img src="img/‪character_images/thirdCh.png" align=right>
    {{/charac_3}}
    {{#charac_4}}
    <img src="img/‪character_images/fourthCh.png" align=right>
    {{/charac_4}}
</div>
<div id="achievements" class="achievements" style="display: flex; justify-content: flex-end">
    <h4 align="right">Abzeichen:</h4>
    <div id="achievement_list" style="max-height: 110px; overflow-y: auto; text-align: center">
        {{#achiev6}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: goldenrod;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2" style="font-size: 60%"><strong>TagEm-König</strong></p>
            </div>
        </div>
        <br>
        {{/achiev6}}
        {{#achiev5}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: silver;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2"><strong>Achiever</strong></p>
            </div>
        </div>
            <br>
        {{/achiev5}}
        {{#achiev4}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: red;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2"><strong>Profi</strong></p>
            </div>
        </div>
            <br>
        {{/achiev4}}
        {{#achiev3}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"> <span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: blue;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2" style="font-size: 60%;"><strong>Fortgeschritten</strong></p>
            </div>
        </div>
            <br>
        {{/achiev3}}
        {{#achiev2}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: green;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2"><strong>Novize</strong></p>
            </div>
        </div>
            <br>
        {{/achiev2}}
        {{#achiev1}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: yellow;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2"><strong>Amateur</strong></p>
            </div>
        </div>
            <br>
        {{/achiev1}}
        {{#achiev0}}
        <div class="achievement" style=" width: 150px">
            <div class="achievement-icon2" style="justify-content: center">
                <span class="icon2"><span class="icon-trophy2"><i class="fa fa-trophy" style=" font-size: 18px; color: white;"></i></span></span>
            </div>
            <div class="achievement-text2">
                <p class="achievement-notification2"><strong>Anfänger</strong></p>
            </div>
        </div>
        <br>
        {{/achiev0}}
        {{#achiev0_false}}
        <div id=achiev0 class="achievement_inactive" style="width: 70px">Anfänger</div> <br><br>
        {{/achiev0_false}}
        {{#achiev1_false}}
        <div id=achiev1 class="achievement_inactive" style="width: 70px">Amateur</div> <br><br>
        {{/achiev1_false}}
        {{#achiev2_false}}
        <div id=achiev2 class="achievement_inactive" style="width: 70px">Novize</div> <br><br>
        {{/achiev2_false}}
        {{#achiev3_false}}
        <div id=achiev3 class="achievement_inactive" style="width: 100px">Fortgeschritten</div> <br><br>
        {{/achiev3_false}}
        {{#achiev4_false}}
        <div id=achiev4 class="achievement_inactive" style="width: 70px">Profi</div> <br><br>
        {{/achiev4_false}}
        {{#achiev5_false}}
        <div id=achiev5 class="achievement_inactive" style="width: 70px">Achiever</div> <br><br>
        {{/achiev5_false}}
        {{#achiev6_false}}
        <div id=achiev6 class="achievement_inactive" style="width: 70px">TagEm-König</div>
        {{/achiev6_false}}
    </div>
</div>
{{/end_screen}}

{{#end_screen}}
<div>
    Du hast alle 15 Runden abgeschlossen. Danke für deine Teilnahme!<br>
    Du hast jetzt noch die Möglichkeit dich optional für weitere Studien anzumelden.<br>
    Anhand deiner Leistung hier versuchen wir dich mit anderen Teilnehmern zusammen zu bringen, damit ihr euch in eurer
    Wortgewandtheit und eurem Bildverständnis messen könnt.<br>
    Wenn du Interesse hast klicke bitte auf Registrieren.<br>
    <button type="button" id="extra_study_character_775" class="btn btn-primary w-35 pt-3 pull-right"
            onclick="disableButton()">
        Registrieren
    </button>
</div>
{{/end_screen}}