<div>
    <div class="bg-blue pull-left pl-3 pr-3">
        <h4 class="game_element_point card-title text-center" id="div_it_id_points_similar_61_points">Wörter: 0</h4>
    </div>

    <br><br>

    {{#final_view}}
    <h3>Ranking</h3>
    <div class="pt-3 card no-border bg-gray w-100 leaderboard" id="div_it_points_similar_61"></div>
    {{/final_view}}

    <div class="pt-3">
        <div class="invisible" id="div_it_id_points_similar_61_other_tags">
            <div id="div_it_id_points_similar_61_table">
                <span class="typing_animated">Tabelle lädt<span>.</span><span>.</span><span>.</span></span>
            </div>
            <button type="button" class="btn btn-primary w-35 pt-3 pull-right" onclick="btn_oc_postImageTags()"
                    id="next_img_points_similar_61">
                Nächstes Bild <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>