<div  id="div_it_tag">
    <div >
        <p>
        <strong> Wähle deine Tagging Aufgabe!</strong>
        </p>
    
        <p>
        Während des Tutorials hast du zwei verschiedene Versionen der Tagging Aufgabe kennengelernt. 
        Du hast nun die Möglichkeit auszuwählen, welche Version du während der Studie nutzen möchtest.
        </p>
        </p>
        Klicke "Erste Version verwenden" wenn du die erste Version der Rangliste verwenden möchtest, 
        oder klicke "Zweite Version verwenden" wenn du die zweite Version der Bestenliste verwenden möchtest.
        </p>
        <p>
        <strong>Sobald du dich entscheidest, startet die Studie.</strong>
        </p>
    </div>

    <div class="choice_process" id="choice_process">
    

        
 
        <div class="flex_child " id="div_choice_right ">
            <div class="fit center-block mt-3 choice_img half">
                <img src="img/relative.png" class="" width="auto" height="auto"/>
            </div>
            <br></br>
            <div class="fit center-block mt-3 flex_button_2">
                <button type="button flex_button" class="btn btn-primary w-80 pt-3" value="choose_rel_leaderboard" onclick="btn_oc_relativeLBchosen()">Erste Version verwenden</button>
            </div>
        </div>

        <div class="flex_child " id="div_choice_left">
            <div class="fit center-block mt-3 choice_img half"> 
                <img src="img/absolute.png" class="" width="auto" height="auto"/>
            </div>
            <br></br>
            <div class="fit center-block mt-3 flex_button_2">
                <button type="button flex_button" class="btn btn-primary w-80 pt-3" value="choose_abs_leaderboard" onclick="btn_oc_absoluteLBchosen()">Zweite Version verwenden</button>
            </div>
            <br></br>
        </div>
    </div>
</div>
